@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "sana-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
